node_modules/
package-lock.json
.DS_Store
TO-DOS.md
CLAUDE.md
.planning
/research.claude/
.claude/agents/kfc/spec-design.md
.claude/agents/kfc/spec-impl.md
.claude/agents/kfc/spec-judge.md
.claude/agents/kfc/spec-requirements.md
.claude/agents/kfc/spec-system-prompt-loader.md
.claude/agents/kfc/spec-tasks.md
.claude/agents/kfc/spec-test.md
.claude/settings/kfc-settings.json
.claude/system-prompts/spec-workflow-starter.md
tmpclaude-00db-cwd
tmpclaude-00e6-cwd
tmpclaude-0527-cwd
tmpclaude-08b8-cwd
tmpclaude-0e96-cwd
tmpclaude-10a8-cwd
tmpclaude-1464-cwd
tmpclaude-1793-cwd
tmpclaude-1a34-cwd
tmpclaude-2190-cwd
tmpclaude-25c8-cwd
tmpclaude-2b54-cwd
tmpclaude-32b0-cwd
tmpclaude-3c92-cwd
tmpclaude-3d1a-cwd
tmpclaude-3d5f-cwd
tmpclaude-464b-cwd
tmpclaude-46ce-cwd
tmpclaude-4813-cwd
tmpclaude-4b2d-cwd
tmpclaude-4cd6-cwd
tmpclaude-58aa-cwd
tmpclaude-5f3a-cwd
tmpclaude-5f8e-cwd
tmpclaude-61a1-cwd
tmpclaude-6b21-cwd
tmpclaude-72dc-cwd
tmpclaude-769e-cwd
tmpclaude-78ee-cwd
tmpclaude-7acf-cwd
tmpclaude-7f64-cwd
tmpclaude-817e-cwd
tmpclaude-8532-cwd
tmpclaude-8944-cwd
tmpclaude-8d9e-cwd
tmpclaude-8f1d-cwd
tmpclaude-9853-cwd
tmpclaude-98ca-cwd
tmpclaude-9bfc-cwd
tmpclaude-a0d6-cwd
tmpclaude-a149-cwd
tmpclaude-a2fe-cwd
tmpclaude-ada4-cwd
tmpclaude-b811-cwd
tmpclaude-bbc4-cwd
tmpclaude-bc57-cwd
tmpclaude-bdd8-cwd
tmpclaude-c042-cwd
tmpclaude-c054-cwd
tmpclaude-c4ee-cwd
tmpclaude-c739-cwd
tmpclaude-cc51-cwd
tmpclaude-d4b4-cwd
tmpclaude-dd4c-cwd
tmpclaude-e203-cwd
tmpclaude-e522-cwd
tmpclaude-e5ff-cwd
tmpclaude-f0cc-cwd
tmpclaude-f47e-cwd
tmpclaude-f78b-cwd
